$font-main:	'Open Sans', sans-serif;
$colour-bg: #b8b8b8;

body {
	background-color: $colour-bg;
	font-family: $font-main;
}

.logo-main {
	color: #ffffff;
	font-size: 200px;
	text-align: center;
	text-shadow: 6px 5px 0px #000000;
}

.logo-main:hover {
	cursor: default;
}
